<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Giày dép</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Assets/Content/style.css")

    <link href="~/Assets/Content/Css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/cart.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/lightslider.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/Style.css" rel="stylesheet" />
    <script src="~/Assets/Content/Js/bootstrap.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.ellipsis.js"></script>
    <script src="~/Assets/Content/Js/jquery.jcarousel.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.lazyload.js"></script>
    <script src="~/Assets/Content/Js/jquery.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.validate.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.vticker.min.js"></script>
    <script src="~/Assets/Content/Js/myJs.js"></script>
</head>
<body>   
    <header style="height: 150px;">
        <div class="container" style="position: relative">

            <span class="main_menu_btn">
                <i class="fa fa-2x fa-bars"></i>
            </span>

            <div class="headerLeft">
                <div class="boxLogo">
                    <a title="logo" href="http://www.alotraicay.com/">
                        <img alt="FashionShop" src="~/Assets/Content/Images/biluxury.JPG">
                    </a>
                </div>
            </div>
            <div class="headerRight">
                <div class="row">
                    <div class="row hot_line_box col-lg-6 col-md-8">
                        <div class="mobile">
                            <i class="ico_mobile"></i>
                            <div class="ico_text">
                                <span>Hotline</span>
                                <p><a href="tel:0983920884">0983920884</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="email">
                            <i class="ico_email"></i>
                            <div class="ico_text">
                                <span>Email liên hệ</span>
                                <p><a href="mailto:hoanghai.itnuce@gmail.com">hoanghai.itnuce@gmail.com</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="img" style="">
                            <!--<i class="ico_img"></i>-->
                            <a href="http://www.facebook.com/hoanghai.itnuce">
                                <img height="40" width="40" src="~/Assets/Content/Images/cart_icon.png">
                                <span>
                                    0
                                </span>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="row row_search">
                        <div class="box_seach col-lg-4 col-md-4 col-xs-12">
                            <form action="http://www.facebook.com/hoanghai.itnuce" method="get">
                                <div class="form-group">
                                    <div style="display: none" class="col-lg-3 col-md-3 no_padding_r">
                                        <select class="form-control cate" name="cate">
                                            <option value="0">Tất cả danh mục</option>
                                            <option value="19">Kết giỏ hoa tươi</option>
                                            <option value="20">Nước ép hoa quả</option>
                                            <option value="21">Thực phẩm khô</option>
                                            <option value="22">Trái cây 3 miền</option>
                                            <option value="23">Hoa quả nhập khẩu</option>
                                            <option value="24">Nông sản sạch</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 no_padding_r no_padding_l">
                                        <input placeholder="Nhập từ khóa...." class="form-control key" type="text" name="keyword">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 no_padding_l no_padding_r">
                                        <button type="submit" class="btn_seach"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                                <!--<div class="clearfix"></div>-->
                            </form>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <nav id="menudrop">
                        <ul>
                            <li><a class="active" href="http://www.alotraicay.com/">Trang chủ</a></li>
                            <li><a href="http://www.alotraicay.com/san-pham.html">Sản phẩm</a></li>
                            <li>
                                <a href="http://www.alotraicay.com/tin-tuc.html">Tin tức</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/ho-tro.html">Hỗ trợ</a></li>
                                    <li><a href="/cam-nang.html">Cẩm nang</a></li>
                                    <li><a href="/tu-van.html">Tư vấn</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.alotraicay.com/gioi-thieu.html">Giới thiệu</a></li>
                            <li><a href="http://www.alotraicay.com/lien-he.html">Liên hệ</a></li>
                            <li>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>

    <div class="body-slider" style="margin-bottom: 0px;">
        @RenderSection("slider", required: false)
    </div>
    <div class="body-content" style="background: #f8f6f6; min-height: 800px; margin-top: 0px !important; ">
        @RenderBody()    
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="container">
                    <!--Box-->
                    <div class="boxItem">
                        <p>
                            © <strong>FASHION SHOP <span style="color:#696969">QHG</span> <span style="color:#FF8C00"> Thời trang Nam</span>&nbsp;thương hiệu tại&nbsp;Việt Nam</strong><br>
                            <strong>Địa chỉ:&nbsp;</strong>55 Giải Phóng, Hai Bà Trưng, Hà Nội<br>
                            <strong>Chi nhánh</strong>Phủ lý, Hà Nam
                        </p>
                    </div><!--End Box-->
                    <div style="float: right" class="fb-follow fb_iframe_widget" data-href="https://www.facebook.com/hoanghai.itnucey" data-layout="standard" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnongsantraicay&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;show_faces=true"><span style="vertical-align: bottom; width: 450px; height: 25px;"><iframe name="f398855d99b96c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:follow Facebook Social Plugin" src="./Cửa hàng Trái Cây tươi chuyên các mặt hàng qua quả ngon, nông sản an toàn_files/follow.html" style="border: none; visibility: visible; width: 450px; height: 25px;" class=""></iframe></span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
